<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.longdivision.hackernews">
    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme"
        android:name="uk.co.longdivision.hackernews.HackerNewsApplication">
        <activity
            android:name=".FrontPageActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="uk.co.longdivision.hackernews.StoryActivity"
            android:label="Story" >
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
