<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hexforhn.hex"
    android:versionCode="4"
    android:versionName="0.1.2">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="true" android:label="@string/appName"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme"
        android:name="com.hexforhn.hex.HexApplication">
        <activity
            android:name=".activity.frontpage.FrontPageActivity"
            android:label="@string/appName" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.story.StoryActivity"
            android:label="" >
            <intent-filter android:label="@string/appName">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="news.ycombinator.com" android:pathPrefix="/item"/>
                <data android:scheme="http" android:host="news.ycombinator.com" android:pathPrefix="/item"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
